<?xml version="1.0" encoding="UTF-8"?>
<beans 
   xmlns="http://www.springframework.org/schema/beans"
   xmlns:aop="http://www.springframework.org/schema/aop" 
   xmlns:context="http://www.springframework.org/schema/context"
   xmlns:p="http://www.springframework.org/schema/p"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd">
       
       <!--  <bean id="hello" class="test.spring.mvc.HelloController"/>-->
       
       <!-- 아래 리졸버로 controller에서 경로설정 및 확장자를 생략할 수 있다.  
       <bean id="viewResolver" 
       class="org.springframework.web.servlet.view.InternalResourceViewResolver">
          <property name="prefix" value=""></property>
          <property name="subfix" value=".jsp"></property>
       </bean>
       -->
       
          <!-- 1)데이터소스 설정 DriveManagerDataSource 클래스를 이용한다. --> 
   <bean id="dataSource"
      class="org.springframework.jdbc.datasource.DriverManagerDataSource">
   <!-- JDBC드라이버클래스명 설정 -->
   
      <property name="driverClassName">
         <value>oracle.jdbc.driver.OracleDriver</value>
      </property>

      <!-- 데이터베이스 파일의 위치 설정 -->
      <property name="url">
         <value>jdbc:oracle:thin:@khjob.iptime.org:7000:xe</value>
      </property>

      <!-- MySQL의 사용자 계정 설정  -->      
      <property name="username">
         <value>java14</value>
      </property>
      <!-- MySQL의 사용자 패스워드 설정  -->
      <property name="password">
         <value>java14</value>
      </property>
   </bean>

       <bean id="memberDao" class="dao.impl.MemberDaoImpl">
      <property name="dataSource" ref="dataSource"></property>
       </bean>
       
       <bean id="loginOut" class="loginout.controller.LogInOutController">
        <property name="memberDao" ref="memberDao"></property>
       </bean>
       
       <bean id="noticeDao" class="dao.impl.NoticeDaoImpl">
	   	<property name="dataSource" ref="dataSource"></property>
       </bean>
       
       <bean id="notice" class="notice.controller.NoticeController">
        <property name="noticeDao" ref="noticeDao"></property>
       </bean>  

       <bean id="noticeWrite" class="notice.controller.NoticeWriteController">
        <property name="noticeDao" ref="noticeDao"></property>
       </bean>        
       <bean id="main" class="main.controller.MainController"/>

	   <!-- 수강신청 -->       
       <bean id="registerclassDao" class="dao.impl.RegisterclassDaoImpl">
       		<property name="dataSource" ref="dataSource"></property>
       </bean>
       
       <bean id="registerclass" class="registerclass.controller.RegisterclassMainController">
       		<property name="registerclassDao" ref="registerclassDao"></property>
       		<property name="memberDao" ref="memberDao"></property>
       </bean>
       
       <bean id="culturalclass" class="registerclass.controller.CulturalClassController">
       		<property name="registerclassDao" ref="registerclassDao"></property>
       		<property name="memberDao" ref="memberDao"></property>
       </bean>
       
       <bean id="registerForCoursesDao" class="dao.impl.RegisterForCoursesDaoImpl">
       		<property name="dataSource" ref="dataSource"></property>
       </bean>
       
       <bean id="registerSubmit" class="registerclass.controller.SubmitController">
       		<property name="registerForCoursesDao" ref="registerForCoursesDao"></property>
       		<property name="registerclassDao" ref="registerclassDao"></property>
       </bean>
       
       <bean id="registerclassList" class="registerclass.controller.RegisterclassListController" >
       		<property name="registerclassDao" ref="registerclassDao"></property>
       		<property name="memberDao" ref="memberDao"></property>
       </bean>
       
       <bean id="registerCancle" class="registerclass.controller.RegisterCancleController" >
       		<property name="registerclassDao" ref="registerclassDao"></property>
       		<property name="memberDao" ref="memberDao"></property>
       </bean>
       
       <bean id="registerCanclePro" class="registerclass.controller.RegisterCancleProController">
       		<property name="registerForCoursesDao" ref="registerForCoursesDao"></property>
       </bean>
       
	   <bean id="huhakDao" class="dao.impl.HuhakDaoImple">
       		<property name="dataSource" ref="dataSource"></property>
       </bean>
	   <bean id="huhak" class="huhak.controller.InsertHuhakController">
       		<property name="huhakDao" ref="huhakDao"></property>
       		<property name="memberDao" ref="memberDao"></property>
       </bean>
	   <bean id="bokhakDao" class="dao.impl.BokhakDaoImple">
       		<property name="dataSource" ref="dataSource"></property>
       </bean>

	   <bean id="bokhak" class="bokhak.controller.InsertBokhakController">
	   		<property name="bokhakDao" ref="bokhakDao"></property>
	   		<property name="memberDao" ref="memberDao"></property>
	   </bean>
		
	   <bean id="junkwaDao" class="dao.impl.JunkwaDaoImple">
			<property name="dataSource" ref="dataSource"></property>
	   </bean>
	   <bean id="junkwa" class="junkwa.controller.InsertJunkwaController">
	   		<property name="junkwaDao" ref="junkwaDao"></property>
	   		<property name="memberDao" ref="memberDao"></property>
	   </bean>

		<!-- 자퇴 -->
       <bean id="leaveDao" class="dao.impl.LeaveDaoImple">
       		<property name="dataSource" ref="dataSource"></property>
       </bean>
       <bean id="leave" class="leave.controller.InsertLeaveController">
       		<property name="leaveDao" ref="leaveDao"></property>
       		<property name="memberDao" ref="memberDao"></property>
       </bean>
       
       
       <bean id="infomodify" class="studentinfo.controller.InfoModifyController">
       	<property name="memberDao" ref="memberDao"></property>
       </bean>

       <bean id="pwmodify" class="studentinfo.controller.PwModifyController">
        <property name="memberDao" ref="memberDao"></property>
		</bean>
				
		<bean id="findidpw" class="findidpw.controller.FindIdPwController">
        <property name="memberDao" ref="memberDao"></property>
		</bean>
       
       <bean id="hakgiDao" class="dao.impl.HakgiDaoImpl">
       		<property name="dataSource" ref="dataSource"></property>

	   </bean>      

       <bean id="hakgi" class="hakgi.controller.HakgiController">
       		<property name="hakgiDao" ref="hakgiDao"></property>
       </bean>
       
       <bean id="hakgi2" class="hakgi.controller.HakgiController2">
       		<property name="hakgiDao" ref="hakgiDao"></property>
       </bean>
 
 	   <bean id="feelsuDao" class="dao.impl.FeelsuDaoImple">
       		<property name="dataSource" ref="dataSource"></property>
       </bean>
 
   	   <bean id="feelsu" class="feelsu.controller.FeelsuController">
       		<property name="feelsuDao" ref="feelsuDao"></property>
       </bean>
	   
	   <!-- 장학금신청 -->
	   <bean id="janghakDao" class="dao.impl.JanghakDaoImple">
	   		<property name="dataSource" ref="dataSource"></property>
	   </bean>
	   <bean id="janghak" class="janghak.controller.InsertJanghakController">
	   		<property name="janghakDao" ref="janghakDao"></property>
	   		<property name="memberDao" ref="memberDao"></property>
	   </bean>
	   <bean id="janghakView" class="janghak.controller.ViewJanghakController">
	   		<property name="janghakDao" ref="janghakDao"></property>
	   </bean>
	   <!-- 주전공신청 -->
	   <bean id="jujungongDao" class="dao.impl.JujungongDaoImple">
       		<property name="dataSource" ref="dataSource"></property>
       </bean>
       <bean id="jujungong2Dao" class="dao.impl.Jujungong2DaoImple">
       		<property name="dataSource" ref="dataSource"></property>
       </bean>
       <bean id="jujungong" class="jujungong.controller.InsertJujungongController">
       		<property name="jujungongDao" ref="jujungongDao"></property>
       		<property name="memberDao" ref="memberDao"></property>
       		<property name="jujungong2Dao" ref="jujungong2Dao"></property>
       </bean>
	   
	   <!-- 다중전공 -->
	   <bean id="multijungongDao" class="dao.impl.MultijungongDaoImple">
       		<property name="dataSource" ref="dataSource"></property>
       </bean>
       <bean id="multijungong" class="multijungong.controller.InsertMultijungongController">
       		<property name="multijungongDao" ref="multijungongDao"></property>
       		<property name="memberDao" ref="memberDao"></property>
       </bean>
       <!-- 관리자휴학관리 -->
       <bean id="adminHuhakDao" class="dao.impl.AdminHuhakDaoImple">
       		<property name="dataSource" ref="dataSource"></property>
       </bean>
	   <bean id="adminhuhak" class="admin.controller.AdminHuhakController">
       		<property name="adminHuhakDao" ref="adminHuhakDao"></property>
       </bean>
       <!-- 관리자복학관리 -->
       <bean id="adminBokhakDao" class="dao.impl.AdminBokhakDaoImple">
       		<property name="dataSource" ref="dataSource"></property>
       </bean>
	   <bean id="adminbokhak" class="admin.controller.AdminBokhakController">
       		<property name="adminBokhakDao" ref="adminBokhakDao"></property>
       </bean>
       <!-- 관리자전과관리 -->
       <bean id="adminJunkwaDao" class="dao.impl.AdminJunkwaDaoImple">
       		<property name="dataSource" ref="dataSource"></property>
       </bean>
	   <bean id="adminjunkwa" class="admin.controller.AdminJunkwaController">
       		<property name="adminJunkwaDao" ref="adminJunkwaDao"></property>
       </bean>
       <!-- 관리자자퇴관리 -->
       <bean id="adminLeaveDao" class="dao.impl.AdminLeaveDaoImple">
       		<property name="dataSource" ref="dataSource"></property>
       </bean>
	   <bean id="adminleave" class="admin.controller.AdminLeaveController">
       		<property name="adminLeaveDao" ref="adminLeaveDao"></property>
       </bean>
       <!-- 관리자주전공관리 -->
       <bean id="adminJujungongDao" class="dao.impl.AdminJujungongDaoImple">
       		<property name="dataSource" ref="dataSource"></property>
       </bean>
	   <bean id="adminjujungong" class="admin.controller.AdminJujungongController">
       		<property name="adminJujungongDao" ref="adminJujungongDao"></property>
       </bean>
       <!-- 관리자전공관리 -->
       <bean id="adminMultijungongDao" class="dao.impl.AdminMultijungongDaoImple">
       		<property name="dataSource" ref="dataSource"></property>
       </bean>
	   <bean id="adminmultijungong" class="admin.controller.AdminMultijungongController">
       		<property name="adminMultijungongDao" ref="adminMultijungongDao"></property>
       </bean>
       <!-- 관리자장학관리 -->
       <bean id="adminJanghakDao" class="dao.impl.AdminJanghakDaoImple">
       		<property name="dataSource" ref="dataSource"></property>
       </bean>
	   <bean id="adminjanghak" class="admin.controller.AdminJanghakController">
       		<property name="adminJanghakDao" ref="adminJanghakDao"></property>
       </bean>
       
       <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
          <property name="maxUploadSize" value="-1" />
          <property name="defaultEncoding" value="euc-kr"/>
       </bean>
</beans>